<div class="container-fluid">
 <div class="row p-5">
  <div class="col-3" >
  <app-create-product (product)="productCreated($event)"></app-create-product>
  </div>
  <div class="col-9">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> Lp. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>
      

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nazwa </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Kod </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Cena </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency:'PLN':'symbol':'3.2-2':'pl'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
 </div>
</div>