<div id="product-create-cont">
  <mat-form-field appearance="fill">
    <mat-label>Nazwa</mat-label>
    <input [(ngModel)]="name" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Kod</mat-label>
    <input [(ngModel)]="code" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cena</mat-label>
    <input [(ngModel)]="price" inputmode="numeric" matInput />
  </mat-form-field>
  <button
    [disabled]="!isValidNewProduct()"
    id="btnAddProduct"
    mat-raised-button
    (click)="createProduct()"
    color="primary"
  >
    Dodaj produkt
  </button>
</div>
