
  #product-create-cont {
    padding: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    mat-form-field {
        width:100%
    }
  }

  #btnAddProduct {
    width: 100%;
  }